<p id="notice"><%= notice %></p>

<h3>
  Employer: <%= link_to @employer.name, employer_path(@employer) %>
</h3>

<h3>Employees</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, [@employer, employee] %></td>
        
        
        <td><%= link_to 'Edit Employee', edit_employer_employee_path(@employer, employee) %></td>
        <td><%= link_to 'Destroy Employee', [@employer, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Employee', new_employer_employee_path(@employer), class: "btn btn-outline-secondary" %>
