<p id="notice"><%= notice %></p>

<h3>
  <strong>Employer:</strong>
  <%= link_to @budget.employer.name, [@employer] %>
</h3>

<h3>
  <strong>Budget:</strong>
  <%= @budget.name %>
</h3>

 

<p>
  <strong>Hours:</strong>
  <%= @budget.hours %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget.end_date %>
</p>

<%= link_to 'Edit Budget', edit_employer_budget_path(@employer, @budget), class: "btn btn-outline-secondary" %>
<%= link_to 'Back', employer_budgets_path(@employer), class: "btn btn-outline-secondary"  %>
