<p id="notice"><%= notice %></p>

<h3>
  Employee: 
</h3>

<h3>Timesheets</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Service hours</th>
      <th>Date of service</th>
      <th>Budget id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= link_to timesheet.name, [@employee, timesheet] %></td>
        <td><%= timesheet.service_hours %></td>
        <td><%= timesheet.date_of_service %></td>
        <td><%= timesheet.budget_id %></td>
        <td><%= link_to 'Edit Timesheet', edit_employee_timesheet_path(@employee, timesheet) %></td>
        <td><%= link_to 'Destroy Timesheet', [@employee, timesheet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Timesheet', new_employee_timesheet_path(@employee), class: "btn btn-outline-secondary" %>
