<p id="notice"><%= notice %></p>

<h3>
  <strong>Timesheet:</strong>
  <%= @timesheet.name %>
</h3>

<h3>
  <strong>Employee:</strong>
  <%= link_to @timesheet.employee.name, [@employee] %>
</h3>

<p>
  <strong>Hours:</strong>
  <%= @timesheet.service_hours %>
</p>

<p>
  <strong>Date of service:</strong>
  <%= @timesheet.date_of_service %>
</p>

<p>
  <strong>Budget id:</strong>
  <%= @timesheet.budget_id %>
</p>

<%= link_to 'Edit Timesheet', edit_employee_timesheet_path,  class: "btn btn-outline-secondary" %>
<%= link_to 'Back', employee_timesheets_path(@employee), class: "btn btn-outline-secondary"  %>
