<p id="notice"><%= notice %></p>

<h3>
 Employer: <%= @employer.name %>
 
</h3>


<h3>
  <%= link_to 'Employees', employer_employees_path(@employer) %>
  
</h3>
<% for employee in @employer.employees %>
  <ul>
    <li><%= link_to employee.name, [@employer, employee] %></li>
  </ul>
<% end %>

<h3>
  <%= link_to 'Budgets', employer_budgets_path(@employer) %>
  
</h3>
<% for budget in @employer.budgets %>
   <ul>
     <li><%=link_to budget.name, [@employer, budget] %></li>
   </ul>
<% end %>

<%= link_to 'Edit Employer', edit_employer_path(@employer), class: "btn btn-outline-secondary" %>
<%= link_to 'Add Employee', new_employer_employee_path(@employer), class: "btn btn-outline-secondary" %>
<%= link_to 'Add Budget', new_employer_budget_path(@employer), class: "btn btn-outline-secondary" %>
 
